<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
      {% block page_title %}
        {{ page_title|default:'Music school' }}
      {% endblock %}
    </title>

    {% block css %}

    {% endblock %}

    {% block js %}

    {% endblock %}
  </head>
  <body class="course-list">
    {% block menu %}
      <nav class="navbar navbar-expand-md">

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

          <a href="/" class="mx-3">
            <button class="btn btn-primary" type="submit"><i class="fa fa-home"></i></button>
          </a>

          <a href="{% url 'contact:contact' %}" class="me-3">
            <button class="btn btn-primary" type="submit">Контакты</button>
          </a>

          <a href="{% url 'education:instructor_list' %}" class="me-3">
            <button class="btn btn-primary" type="submit">Инструкторы</button>
          </a>

          <a href="/" class="me-3">
            <button class="btn btn-primary" type="submit">Курсы</button>
          </a>

          <a href="{% url 'education:course_form' %}">
            <button class="btn btn-primary" type="submit">Создать курс</button>
          </a>

        </div>

      </nav>
    {% endblock %}

    {% block header %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}

    <script src="/static/js/bootstrap.bundle.js"></script>

  </body>
</html>