{% extends 'education/base.html' %}
{% load static %}

{% block css %}
  <style>
    body {
      font-family: "Open Sans", sans-serif;
      background-color: #ffffff;
    }

    .bg11 {
      background: #3d33ce;
      padding: 1rem 0;
      color: #fff
    }

    .bg11 h1 {
      margin-top: 1rem;
      color: #fff
    }

    .bg-header {
      border-left: 5px solid #333bce;
      background: black;
      padding: 5px 5px 10px 20px;
      color: #fff
    }

    nav {
      background-color: #1d1d1d;
    }
  </style>
{% endblock %}

{% block menu %}
  <nav class="navbar navbar-expand-md">

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

        <a href="/" class="mx-3">
          <button class="btn btn-primary" type="submit"><i class="fa fa-home"></i></button>
        </a>

        <a href="/" class="me-3">
          <button class="btn btn-primary" type="submit">Курсы</button>
        </a>

        <a href="{% url 'education:course_form' %}" class="me-3">
          <button class="btn btn-primary" type="submit">Создать курс</button>
        </a>

        <a href="{% url 'education:course_update_form' object.pk %}" class="me-3">
          <button class="btn btn-primary" type="submit">Редактировать курс</button>
        </a>

        <a href="{% url 'education:course_confirm_delete' object.pk %}">
          <button class="btn btn-primary" type="submit">Удалить курс</button>
        </a>

      </div>

    </nav>
{% endblock %}

{% block content %}
  <div class="bg11">
    <div class="container">
      <h1>{{ object.name }}</h1>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-7">
        <p>
          {{ object.description }}
        </p>
        {% if object.img %}
          <img width="700em" src="{{object.img.url}}" alt="{{object.name}}">
        {% endif %}
      </div>

      <div class="col-md-5">
        <h2 class="bg-header">Уроки</h2>

        <div class="card my-3" style="width: 32.9rem;">
          <div class="card-body">
            <p>
              <em class="fa fa-money fa-fw"></em> {{ object.price }}
            </p>

            <p>
              <em class="fa fa-calendar fa-fw"></em> Стартуем {{ object.started_at }}
            </p>
          </div>
        </div>
        <h2 class="bg-header">Преподаватели</h2>

        <div class="card my-3" style="width: 32.9rem;">
          <div class="card-body">
            {% for instructor in instructors %}
              <p>
                {{instructor}}
              </p>
            {% endfor %}
          </div>
        </div>
        <h2 class="bg-header">Категория курса</h2>

        <div class="card my-3" style="width: 32.9rem;">
          <div class="card-body">
            {% if object.category %}
              {{object.category.name}}: всего {{object.category.get_course_count}} курса
            {% endif %}
            <p></p>
            <ul>
              {% for course in courses %}
                <li>{{course.name}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}